@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f3f3;
}

#wrapper {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Search form */
.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  background-color: #e41025;
  width: 100%;
  max-width: 40rem;
  padding: 3rem 0;
  box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
  color: #fff;
}

.form-heading {
  text-align: center;
}

.input-group {
  width: 90%;
  display: flex;
  align-items: baseline;
  margin: 0.7rem auto;
}

.input-group input {
  width: 60%;
  margin-top: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.input-group label {
  width: 30%;
  text-align: right;
  padding-right: 1rem;
}

.search-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-btn button {
  padding: 1rem;
  background: #7b7878;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3rem;
  font-family: "Montserrat", "sans-serif";
}

/* Event list */
.event-list {
  width: 100%;
}

.single-event {
  margin: 3rem auto;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  word-break: break-word;
}

.single-event h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.single-event p {
  margin-top: 0;
  font-size: 0.8rem;
}

/* Highlight unverified events and invalid fields*/
.not-verified h4,
.invalid-field {
  color: red;
}

/* Message displayed in case of error or no results */
.message {
  margin-top: 30px;
  color: #2c5364;
}

/* Loader CSS*/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin-top: 30px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #7b7878;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
